[submodule "LitusEngine/vendor/spdlog"]
	path = LitusEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LitusEngine/LitusEngine/vendor/GLFW"]
	path = LitusEngine/vendor/GLFW
	url = https://github.com/LitusLuca/glfw
