[submodule "LitusEngine/vendor/spdlog"]
	path = LitusEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LitusEngine/vendor/GLFW"]
	path = LitusEngine/vendor/GLFW
	url = https://github.com/LitusLuca/glfw
[submodule "LitusEngine/vendor/ImGui"]
	path = LitusEngine/vendor/ImGui
	url = https://github.com/LitusLuca/ImGui
[submodule "LitusEngine/vendor/glm"]
	path = LitusEngine/vendor/glm
	url = https://github.com/g-truc/glm
